<!DOCTYPE HTML>
<html>
	<head>
		<title>Gestione utente applicativi IBM</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header"></header>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>{{title}}</h1>
										<p>Riepilogo</p>
									</header>

									{% for dato in data %}
										<div class="box">
											<form method="post">
												<div class="row gtr-uniform">
													<div class="col-6 col-12-xsmall">
														<input type="text" name="username" id="username" value='{{dato["username"]}}' placeholder="Utenza" readonly/>
													</div>
													<div class="col-6 col-12-xsmall">
														<input type="text" name="password" id="password" value='{{dato["password"]}}' placeholder="Password" {{mode}}/>
													</div>
													<div class="col-6 col-12-xsmall">
														<input type="text" name="service" id="service" value='{{dato["service"]}}' placeholder="Servizio" {{mode}}/>
													</div>
													<div class="col-6 col-12-xsmall">
														<input type="text" name="company" id="company" value='{{dato["company"]}}' placeholder="Azienda" {{mode}}/>
													</div>
													<div class="col-6 col-12-xsmall">
														<input type="text" name="url" id="url" value='{{dato["url"]}}' placeholder="URL" {{mode}}/>
													</div>
													<div class="col-6 col-12-xsmall">
														<input type="text" name="environment" id="environment" value='{{dato["environment"]}}' placeholder="Ambiente" {{mode}}/>
													</div>
													<div class="col-6 col-12-xsmall">
														<input type="text" name="obj_id" id="obj_id" value='{{dato["_id"]}}' placeholder="Object ID" readonly/>
													</div>
													<div class="col-6 col-12-xsmall">
														<input type="text" name="timestamp" id="timestamp" value='{{dato["timestamp"]}}' placeholder="Timestamp" readonly/>
													</div>
													<div class="col-12">
														<textarea name="comment" id="comment" value='' placeholder='{{dato["comment"]}}' rows="4" {{mode}}></textarea>
													</div>
													<div class="col-12">
														<input name="action" type="submit" value="{{scope}}" class="primary" />
													</div>
												</div>
											</form>
										</div>
										<hr class="major" />
									{% endfor %}

									<div class="col-6 col-12-xsmall">
										<a href="{{back_url}}" class="button">Indietro</a>
									</div>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<a href="index.html"><h2>Home</h2></a>
									</header>
									<ul>
										<li><a href="search_key.html">Ricerca credenziali</a></li>
										<li><a href="update_key.html">Aggiorna credenziali</a></li>
										<li><a href="create_key.html">Inserisci nuove credenziali</a></li>
										<li><a href="delete_key.html" style="color: #f56a6a">Cancella credenziali</a></li>
									</ul>
								</nav>
						</div>
					</div>
			</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>