<!DOCTYPE HTML>
<html>
	<head>
		<title>Gestione utente applicativi IBM</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Gestione utenze applicativi IBM</h1>
											<p>Servizio di memorizzazione credenziali</p>
										</header>
										<p>Utilizza il servizio di repository delle credenziali d'accesso ai servizi gestiti da IBM per creare, ricercare, aggiornare o cancellare le tue credenziali.</p>
									</div>
									<span class="image object">
										<img src="{{url_for('static', filename='images/key.png')}}" alt="" />
									</span>
								</section>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<a href=""><h2>Home</h2></a>
									</header>
									<ul>
										<li><a href="search_key.html">Ricerca credenziali</a></li>
										<li><a href="update_key.html">Aggiorna credenziali</a></li>
										<li><a href="create_key.html">Inserisci nuove credenziali</a></li>
										<li><a href="delete_key.html" style="color: #f56a6a">Cancella credenziali</a></li>
									</ul>
								</nav>
						</div>
					</div>
			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>